
.on .slide {
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at center, rgb(82, 20, 120) 0%, rgba(21, 6, 37, 1) 100%), linear-gradient(#000000 0%, #000000 100%);
    overflow: hidden;
    position: relative;
}

.on .slide .slide-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.on .slides {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}

.on h1, .on h2, .on h3, .on h4, .on p {
    font-family: 'EB Garamond', serif;
    font-weight: normal;
}

.on .slide .slide-content > h1 {
    text-align: center;
    margin: 0;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.5);
    color: #f1c232;
    font-family: 'EB Garamond', serif;
    font-weight: normal;
}

.on .slide .slide-content > h2 {
    text-align: center;
    margin: 0;
    font-size: 3.5rem;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.5);
    color: #f1c232;
}

.on .slide .slide-footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.on .slide .slide-footer .page {
    font-size: 2.5rem;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.5);
    color: #f1c232;
    padding: 25px;
}

body {
    transition: background-color 200ms;
    background: #FFF;
}

body.on {
    margin: 0;
    background: #000;

}

body.on .slide:focus{
    outline: 0;
}




body.on .slide {
    animation-name: background;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}